---
import type { BreadcrumbItem as BreadcrumbItemType } from "@/types";
import {
    Breadcrumb,
    BreadcrumbItem,
    BreadcrumbLink,
    BreadcrumbList,
    BreadcrumbPage,
    BreadcrumbSeparator,
} from "@/components/ui/shadcn/breadcrumb";

type Props = {
    items: BreadcrumbItemType[];
};

const { items } = Astro.props;
const { pathname } = Astro.url;

const isActive = (href: string) => pathname === href;
---

{
    items.length > 0 && (
        <nav class="max-w-6xl mx-auto mt-8 px-4 sm:px-6 lg:px-8">
            <Breadcrumb>
                <BreadcrumbList>
                    {items.map((item, index) => (
                        <>
                            <BreadcrumbItem key={index}>
                                {isActive(item.href) ? (
                                    <BreadcrumbPage>
                                        {item.title}
                                    </BreadcrumbPage>
                                ) : (
                                    <BreadcrumbLink href={item.href}>
                                        {item.title}
                                    </BreadcrumbLink>
                                )}
                            </BreadcrumbItem>
                            {index < items.length - 1 && (
                                <BreadcrumbSeparator />
                            )}
                        </>
                    ))}
                </BreadcrumbList>
            </Breadcrumb>
        </nav>
    )
}
